<%= erb :'partials/_validation_errors', :layout => false, :locals => {:model => ad } %>
<div class="container">
  <div class="content">
    <h1><%=button_text%></h1>
    <% if action == "new" %>
      <form action="/ads" method="post" enctype="multipart/form-data">
    <% else %>
      <form action="/ads/<%=ad.id%>" method="post" enctype="multipart/form-data>
      <input type="hidden" name="_method" value="PUT">
    <% end %>
    <label for="description">Description: </label>
    <input type="text" name="ad[description]" id="description" value="<%=ad.description if !ad.nil?%>" />
    
  </div>
</div>
