<div class="container">
  <div class="content">
    <h1></h1>
    <form class="" action="" method="post">
      <label for="email">Email: </label>
      <input type="text" name="email" id="email"/>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password">
      <input type="submit" name="submit" class="form_button">
    </form>
  </div>
</div>
