<header class="header">
  <span><a href="/">Ads Place</a></span>
  <nav class="navigation">
    <ul>
      <li><%=displayLoginOutLink %></li>
      <% if current_user.nil? %>
      <li><a href="/signup">Sign up</a></li>
      <% else %>
      <li><a href="/user/<%=current_user.id%>"><%=current_user.email.split("@").first%></a></li>
      <% end %>
    </ul>
  </nav>
</header>
