<div class="main_content">
  <% if !collection.empty? %>
    <% collection.each do |item| %>
      <div class="ad_content">
        <div>
          <img class="ad_image" src="">
        </div>
        <p><a href="#"><%=item.description%></a></p>
        <div class="action_button_panel__inner">

        </div>
        <div class="action_button_panel__inner">

        </div>
  </div>
  <% else %>
    <h1>No Matches Found</h1>
  <% end %>
</div>
