:root
{
  --black-color: #0B0c10;
  --grey-color:#1f2833;
  --grey-light:#66fcf1;
  --blue-light:#45a293;
  --red-color:#cc0000;
}
*
{
  margin: 0;
  padding: 0;
}

html
{
  box-sizing: border-box;
  font-size: 62.5%;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    background-color:
}

.header
{
    justify-content: space-between;
    border-bottom: 1px solid var(--green-light);
    display:flex;
    align-items: center;
    background-color: var(--black-color);
    padding-left: 1rem;
    font-size: 3rem;
    height:7rem;
    span
    {
        a
        {
          color:#fff;
          text-decoration: none;
          text-transform: capitalize;
        }
    }
}

.navigation
{
    display:flex;
    align-items: center;

    a
    {
      color:#fff;
      text-decoration: none;
      text-transform: capitalize;
    }
    ul
    {
        list-style-type: none;
        padding-right: 1rem;
    }
    li
    {
        background-color: var(--blue-light);
        display:inline;
        padding:1rem;
    }
}

.content
{

}

.container
{

}
